.hero {
    @include section;

    .hero-container {
        @include grid-col-2;

        .hero-items {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            

            h1 {
                font-size: 4rem;
                color: $mainColor;
            }

            p {
                font-size: 1.5rem;

                &:nth-of-type(1) {
                    font-size: 2rem;
                }
            }

            img {
                width: 100%;
                border-radius: 50%;
                box-shadow: 0 0 25px #ff00ff;
            }

            .icon {
                display: flex;
                gap: 2rem;

                i {
                    @include icon_i;

                    &:hover {
                        @include hover_i;
                    }
                }
            }
            .btn-group{
                display: flex;
                gap: 2rem;
                a{
                    @include  btn_group_link;
                    &:nth-of-type(1){
                        background-color: $bgcolor;
                        color: $textcolor;
                        &:hover{
                            background-color: $secondbgcolor;
                            color: $mainColor;
                        }
                    }
                    &:nth-of-type(2){
                        &:hover{
                            background-color: $mainColor;
                            color: $bgcolor;
                        }
                    }
                }
            }
        }
    }
}




