.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 8%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

    .logo {
        font-size: 2rem;
        color: $mainColor;
        font-weight: 800;
        cursor: pointer;
        transition: 0.3s ease;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
        }

        span {
            color: $mainColor;
        }
    }

    // Menu icon
    #menu-icon {
        font-size: 3.6rem;
        display: none; // initially hidden for larger screens
        color: $mainColor;
        cursor: pointer;
        transition: transform 0.3s ease;

        &.active {
            transform: rotate(45deg); // Turn the menu into an "X" by rotating
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            a {
                font-size: 1rem;
                color: $textcolor;
                margin-left: 4rem;
                font-weight: 500;
                transition: 0.3s ease;
                text-decoration: none;

                &:hover {
                    color: $mainColor;
                    border-bottom: 6px solid $mainColor;
                }

                .active {
                    display: block;
                    &:hover {
                        color: $mainColor;
                        border-bottom: 6px solid $mainColor;
                    }
                }
            }
            cursor: pointer;
        }

        // When navbar is hidden (mobile)
        &.hidden {
            display: none;  // Hide on small screens by default
        }

        // When navbar is visible
        &.active {
            display: flex; // Toggle this to show the navbar
        }
    }

    button {
        @include nav_btn;
        margin-left: 3rem;
        &:hover {
            transition: 0.2s ease-in-out;
            background-color: darken($textcolor, 50%);
            color: $textcolor;
        }
    }
}